<nav class="main-navbar" [class.scrolled]="isScrolled"  >
  <div class="navbar-container">

    <!-- Brand -->
    <a class="brand-link" href="#!">
      <span class="brand-name">Lunamaro</span>
    </a>

    <!-- Navbar Links (only if user is logged in) -->
    <div class="nav-links" *ngIf="isLoggedIn">
      <ul>
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/menu">Menu</a></li>
       <li><a routerLink="/Table">Tables</a></li>
        <!-- Admin-only links -->
        <li *ngIf="userRole === 'Admin'"><a routerLink="/Admin/category">Category</a></li>
        <li *ngIf="userRole === 'Admin'"><a routerLink="/Admin/item">Item</a></li>
        <li *ngIf="userRole === 'Admin'"><a routerLink="/Admin/additem">Add Item</a></li>
        <li *ngIf="userRole === 'Admin'"><a routerLink="Admin/reservation">Reservations</a></li>
        <li *ngIf="userRole === 'Admin'"><a routerLink="Admin/table">Tables</a></li>
        <li *ngIf="userRole === 'Admin'"><a routerLink="Admin/ordershistory">Orders</a></li>

 <li><a routerLink="/MyReservations" *ngIf="userRole === 'Customer'">Reservations</a></li>
  <li><a routerLink="/ordershistory"  *ngIf="userRole === 'Customer'">ordershistory</a></li>
                

      </ul>
    </div>

    <!-- Right Side Icons -->
    <ul class="right-actions">

      <!-- Logged in -->
      <ng-container *ngIf="isLoggedIn">
        <li class="cart-item">
          <a routerLink="/usercartitempervew" class="cart-link">
            <i class="fas fa-shopping-cart">
              <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
            </i>
          </a>
        </li>

        <li><a class="logout-link" (click)="logout()">Logout</a></li>
      </ng-container>

      <!-- Not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ng-container>

    </ul>

  </div>
</nav>
