<nav class="main-navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">

    <a class="brand-link" routerLink="/Home">
      <span class="brand-name">Lunamaro</span>
    </a>

    <div class="nav-links" *ngIf="isLoggedIn">
      <ul>
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/menu">Menu</a></li>

        <ng-container *ngIf="userRole === 'Customer'">
          <li><a routerLink="/MyReservations">Reservations</a></li>
          <li><a routerLink="/ordershistory">History</a></li>
          <li><a routerLink="/reservation" class="btn-book-table">Book Table</a></li>
        </ng-container>

        <li class="dropdown" *ngIf="userRole === 'Admin'">
          <a class="dropdown-toggle">Admin Panel <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a routerLink="Admin/dashboard">Dashboard</a></li>
           <li><a routerLink="/Admin/offers">Offers</a></li>
            <li><a routerLink="/Admin/category">Categories</a></li>
            <li><a routerLink="/Admin/item">Items List</a></li>
            <li><a routerLink="/Admin/additem">Add New Item</a></li>
            <li><a routerLink="Admin/reservation">All Reservations</a></li>
            <li><a routerLink="Admin/table">Table Management</a></li>
            <li><a routerLink="Admin/ordershistory">Order History</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <ul class="right-actions">
      <ng-container *ngIf="isLoggedIn">
       <li class="cart-item" *ngIf="userRole === 'Customer'">
  <a routerLink="/usercartitempervew" class="cart-link">
    <i class="fas fa-shopping-cart"></i> 
    <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
  </a>
</li>
        <li><a class="logout-btn" (click)="logout()">Logout</a></li>
      </ng-container>

  <ng-container *ngIf="!isLoggedIn">
  <div class="guest-actions">
    <li>
      <a routerLink="/login" class="login-link">Login</a>
    </li>
    <li>
      <a routerLink="/register" class="btn-register">Register</a>
    </li>
  </div>
</ng-container>
    </ul>

  </div>
</nav>