<footer class="bg-dark text-light pt-4 pb-2">
    <div class="container">
        <div class="row">
            <!-- About -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Savoria</h5>
                <p>
                    Exceptional dining experiences with carefully crafted dishes using the finest ingredients.
                </p>
            </div>

            <!-- Contact Info -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Contact Info</h5>
                <ul class="list-unstyled">
                    <li>120 street ahmed oraby</li>
                    <li>+20 015566059</li>
                 
                    <li>satr - tue: 11:00 AM - 10:00 PM</li>
                </ul>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Our Menu</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Reservations</a></li>
                    <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Gallery</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer bottom -->
        <div class="text-center border-top border-light pt-3">
            <small>© 2025 Lounamaroui Restaurant. All rights reserved.</small><br>
            <!-- <small><a href="/admin" class="text-light text-decoration-none">Admin</a></small> -->
        </div>
    </div>
</footer>
