
<div class="tables-container">
  <h2>Manage Tables</h2>

  <button class="update-btn-table" (click)="AddTable()"> Add NewTable</button>

  <div *ngIf="Table.length > 0; else noTables">
    <table class="tables-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Table Number</th>
          <th>Capacity</th>
          <th>Location</th>
          <th>Status</th>
          <th>Update Status</th>
           <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of Table; trackBy: trackByIndex">
          <td>{{ t.id }}</td>
          <td>{{ t.tableNumber }}</td>
          <td>{{ t.capacity }}</td>
          <td>{{ t.location }}</td>

          <!-- Status Badge -->
          <td>
            <span class="status" [ngClass]="t.isAvailable === 'Available' ? 'status-available' : 'status-unavailable'">
              {{ t.isAvailable }}
            </span>
          </td>

          <!-- Select Status -->
          <td>
            <select class="status-select" [(ngModel)]="t.isAvailable"
                    (change)="onStatusChange(t)">
              <option value="Available">Available</option>
              <option value="UnAvailable">UnAvailable</option>
            </select>
          </td>
         <td>
  <button class="update-btn-table" (click)="UpdateTable(t.id)">Update</button>
</td>

        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noTables>
    <p class="no-data">No tables found.</p>
  </ng-template>  
</div>
