<div class="container mt-4">



  <!-- Table -->
  <table *ngIf="orderhistroy.length > 0" class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>order</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of orderhistroy; let i = index">
        <td>{{ order.orderId }}</td>
        <td>{{ order.dateOfOrder | date: 'short' }}</td>
        <td>
          <span class="badge text-bg-primary">{{ order.orderStatus }}</span>
        </td>
        <td>{{ order.totalAmount | currency }}</td>
        <td>
          <button class="btn btn-sm btn-primary"  (click)="viewDetails(order.orderId)">
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
