<div class="container mt-4">
  <h2>All Reservations</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Table</th>
        <th>User Email</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Guests</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Update Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of recervations">
        <td>{{ r.id }}</td>
        <td>{{ r.tableName }}</td>
        <td>{{ r.userEmail }}</td>
        <td>{{ r.startTime | date: 'short' }}</td>
        <td>{{ r.endTime | date: 'short' }}</td>
        <td>{{ r.guests }}</td>
        <td>{{ r.notes }}</td>
        <td>{{ r.status }}</td>
        <td>{{ r.createdAt | date: 'short' }}</td>
   
        <td>
  <select class="form-select" [(ngModel)]="r.status"
                  (change)="onStatusChange(r)">
    <option value="Pending">Pending</option>
    <option value="Approved">Approved</option>
    <option value="Rejected">Rejected</option>
  </select>
</td>
      </tr>
    </tbody>
  </table>
</div>
