/* Full page background */
body {
  margin: 0;
  background-color: #23486A;
  font-family: Arial, sans-serif;
}

/* Center container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

/* FORM CARD */
form {
  background: #1a3350;
  padding: 2.5rem;
  border-radius: 25px;
  width: 380px;
  color: #23486A;

  /* Professional shadow */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  transition: 0.3s ease-in-out;
}

/* Slight hover pop effect */
form:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px rgba(0,0,0,0.35);
}

/* Headings */
form h2 {
  text-align: center;
  margin-bottom: 1rem;
  color:white;
  font-weight: bold;
}

/* Labels */
form label {
  margin-top: 10px;
  display: block;
  color: white;
}

/* Inputs */
form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #4C7B8B;
  border-radius: 8px;
  background-color: #f8f8f8;
  transition: 0.2s;
}

/* Focus border */
form input:focus {
  border-color: #EFB036;
  outline: none;
}

/* Error messages */
form div {
  color: #c0392b;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Button */
form button {
  width: 100%;
  padding: 10px;
  background-color: #EFB036;
  color: #23486A;
  border: none;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  transition: 0.3s;
}

form button:hover {
  background-color: #EFB036;
  color: white;
}

form button:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}
