.wrapper {
  padding: 50px;
  background-color: #3B6790;
  color: white;
  font-family: Arial, sans-serif;
}

.row-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Left Panel */
.shipping-panel {
  flex: 1 1 48%;
  background-color: #2c5a77;
  padding: 20px;
  border-radius: 30px;
}

/* Right Panel */
.order-review-panel {
  flex: 1 1 48%;
  background-color: #2c5a77;
  padding: 50px;
  border-radius: 30px;
  max-height: auto;
}

.order-item {
  display: flex;
  align-items: center;
  background-color: #345b7c;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 15px;
}

.cart-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 4px;
}

.cart-details {
  flex-grow: 1;
}

.cart-price {
  font-weight: bold;
  white-space: nowrap;
}

/* Bottom Panel */
.payment-panel {
  background-color: #2c5a77;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 8px;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.date-row {
  display: flex;
  gap: 10px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 15px;
}
