/* Layout */
.item-container {
  max-width: 100%;     /* Remove fixed width */
  margin: 0;           /* Remove auto centering */
  padding: 20px 0px;   /* Remove left/right padding */
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between; /* Fill full width evenly */
}



.item-card {
  background-color:#0E2148;
  border: 2px solid #02152a;
  border-radius: 20px;
  overflow: hidden;

  /* 3 items per row with 20px gap */
  width: calc(33.333% - 13.33px);

  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
  transition: transform 0.2s;
}

@media (max-width: 992px) {
  .item-card {
    width: calc(50% - 10px); /* 2 per row on medium screens */
  }
}

@media (max-width: 600px) {
  .item-card {
    width: 100%; /* 1 per row on small screens */
  }
}
.item-card:hover {
  transform: scale(1.02);
}

/* Image */
.item-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Text Body */
.item-body {
  padding: 15px;
}

.item-title {
  font-size: 25px;
  font-weight: bold;
  color: #bdc4cf;
}

.item-description {
  font-size: 14px;
  margin: 10px 0;
   color: #d7dee6;


}

.item-price {
  font-size: 16px;
  font-weight: bold;
  color: #d7dee6;
}

/* Buttons */
.item-actions {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left in a row */
  gap: 15px;                   /* Adds space between buttons */
  margin-top: 10px;
}

.item-btn {
  padding: 10px 12px;
  background-color: #701809;
  
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}


.item-btn.heart {
  background-color: transparent;
  color: #052350;
  font-size: 18px;
  padding: 4px;
}



