<div class="item-container">
  <div class="item-row">
    <div class="item-card" *ngFor="let item of Items">

      <img [src]="'http://localhost:5218' + item.imageUrl" class="item-image" alt="Product Image" />

      <div class="item-body">
        <h5 class="item-title">{{ item.name }}</h5>
        <p class="item-description">{{ item.description }}</p>
        <p class="item-description">Qty: {{ item.quantity }}</p>
        <p class="item-price">$ {{ item.price }}</p>

        <div class="item-actions">
          <button class="btn-update">Update</button>
          <button class="btn-delete" (click)="deleteItem(item.id)">Delete</button>
        </div>
      </div>

    </div>
  </div>
</div>
