<div class="checkout-container">

  <!-- Left Panel: User Info Form -->
  <div class="checkout-left">
    <h2>User Information</h2>

<form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)" >
      <label>Name</label>
      <input type="text" class="input-box" required 
      maxlength="50"
      [(ngModel)]="orderInfo.name"  
      name="name"         (ngModelChange)="formChanges = true"
/>

  <label>Phone</label>
  <input
    type="text"
    class="input-box"
    required
    pattern="^[0-9]{10,15}$"
    [(ngModel)]="orderInfo.phoneNumber"
    name="phone"
    #phoneModel="ngModel"        (ngModelChange)="formChanges = true"

  />
  <div class="error" *ngIf="phoneModel.invalid && phoneModel.touched">
    Enter a valid phone number (10-15 digits)
  </div>

  <label>Address</label>
  <input
    type="text"
    class="input-box"
    required
    [(ngModel)]="orderInfo.deliveryStreetAddress"
    name="address"
    #addressModel="ngModel"        (ngModelChange)="formChanges = true"

  />
  <div class="error" *ngIf="addressModel.invalid && addressModel.touched">
    Address is required
  </div>


  <label>City</label>
  <input
    type="text"
    class="input-box"
    required
    [(ngModel)]="orderInfo.city"
    name="city"
    #cityModel="ngModel"        (ngModelChange)="formChanges = true"

  />
  <div class="error" *ngIf="cityModel.invalid && cityModel.touched">
    City is required
  </div>

  <label>State</label>
  <input
    type="text"
    class="input-box"
    required
    [(ngModel)]="orderInfo.state"
    name="state"
    #stateModel="ngModel"        (ngModelChange)="formChanges = true"

  />
  <div class="error" *ngIf="stateModel.invalid && stateModel.touched">
    State is required
  </div>

    <label>Postal Code</label>
  <input
    type="number"
    class="input-box"
    required
    min="1"
    [(ngModel)]="orderInfo.postalCode"
    name="postal"
    #postalModel="ngModel"        (ngModelChange)="formChanges = true"

  />
  <div class="error" *ngIf="postalModel.invalid && postalModel.touched">
    Postal code must be greater than 0
  </div>

      <label>Payment Method</label>
      <select [(ngModel)]="orderInfo.IsPayOnDelivery" name="IsPayOnDelivery" class="input-box"        (ngModelChange)="formChanges = true"
>
        <option [ngValue]="true">Cash on Delivery</option>
        <option [ngValue]="false">Visa / Online Payment</option>
      </select>

      <button
    class="confirm-btn"
    type="submit"
   [disabled]="orderForm.invalid || isSubmitting"
  >
    Confirm Order
  </button>
    </form>
  </div>

  <!-- Right Panel: Order Summary -->
  <div class="checkout-right">
    <h2>Order Summary</h2>

    <div class="order-item" *ngFor="let item of order?.userCartList">
      <img class="cart-img" [src]="'http://localhost:5218' + item.imageUrl" alt="{{ item.itemName }}" />
      <div class="cart-details">
        <strong>{{ item.itemName }}</strong>
        <p>{{ item.description }}</p>
        <span>Qty: {{ item.quantity }}</span>
      </div>
      <div class="cart-price">{{ item.totalPrice | currency:'EGP' }}</div>
    </div>

    <hr />

    <div class="total-row">
      <span>Total:</span>
      <span class="total-amount">{{ order?.userOrderHeader?.totalAmount | currency:'EGP' }}</span>
    </div>
  </div>

</div>
