/* Make body take full height */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* The root component fills the screen */
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body {
  padding-top: 70px; /* space so content starts below navbar */
}

/* Navbar and footer have fixed height */
app-navbar {
  height: 60px;
  /* background-color: #cf4848; */
  color: rgb(255, 245, 245);
}

app-footer {
  height: 50px;
  background-color: #250302;
  color: white;
}

/* This holds component content between nav and footer */
.page-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #130101;
}
