
app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* stay above content */
}

.page-content {
  padding-top: 80px; 
  background-color:  #3B6790;
  min-height: 100vh;/* pushes content below navbar */
}


/* Ensure the page takes full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Wrapper ensures footer stays at the bottom */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Content takes all available space except footer */
.page-content {
  flex: 1; /* makes content fill remaining space */
  background-color: #3B6790;
  padding-top: 80px;   /* space for fixed navbar */
  padding-bottom: 30px; /* breathing space above footer */
  box-sizing: border-box;
}

/* Footer styling */
footer {
  background-color: #250302;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  bottom: 0;
}
