<div class="create-page">

  <h2>Create Add-on Reward</h2>

  <div class="form-group">
    <label>Search Product</label>

    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      placeholder="Type product name..."
    />

    <!-- Dropdown -->
    <div class="dropdown" *ngIf="products.length">
      <div
        *ngFor="let p of products"
        (click)="selectProduct(p)"
        class="dropdown-item"
      >
        {{ p.name }} - {{ p.price }} EGP
      </div>
    </div>
  </div>

  <div *ngIf="selectedProduct" class="selected">
    Selected: {{ selectedProduct.name }}
  </div>

  <!-- Discount -->
  <div class="form-group">
    <label>Minimum Amount</label>
    <input type="number" [(ngModel)]="minimumAmount" />
  </div>



  <!-- Actions -->
  <div class="actions">
    <button (click)="addonreword()">Create</button>
    <button class="cancel" (click)="cancel()">
      Cancel
    </button>
  </div>

</div>